.button {
    top: 1465px;
    left: 574px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

    width: 132px;
    height: 30px;
    padding: 5px 24px;

    border: none;
}

.disabled {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: #002e5c;

    opacity: 0.5;
    background: #004d99;
    border-color: #004d99;
    border-radius: 3px;
}

.secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: #0066cc;

    background-color: white;
    border: 1px solid #0066cc;
    border-radius: 3px;
}

.default {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: #ffffff;

    background: #0066cc;
    border-color: #0066cc;
    border-radius: 3px;
}

.red {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: #ffffff;

    background: #cc1439;
    border-color: #cc1439;
    border-radius: 3px;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #e5f0fa;
    border: 1px solid #0066cc;
}

.default:active {
    background: #0059b3;
}

.secondary:active {
    background: #c9e5ff;
    border: 1px solid #0066cc;
    border-radius: 3px;
}

.red:active {
    background: #b31232;
}

.button:disabled {
    opacity: 0.5;
    background: #004d99;
}
