.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 132px;
    height: 30px;
    left: 574px;
    top: 1465px;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    border: none;
}

.disabled {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #002E5C;
    background: #004D99;
    opacity: 0.5;
    border-radius: 3px;
    border-color: #004D99;
}

.secondary {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #0066CC;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #0066CC;
}

.default {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #0066CC;
    color: #FFFFFF;
    border-radius: 3px;
    border-color: #0066CC;
}

.red {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #CC1439;
    border-radius: 3px;
    border-color: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
    border: 1px solid #0066CC;
}


.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    background: #004D99;
    opacity: 0.5;
}
