.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    font-family: 'Montserrat', serif;
}

.title {
    margin-top: 35px;
    margin-bottom: 80px;

    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: 32px;
}
.pass-wrapper {
    position: relative;

    display: flex;

    margin-bottom: 14px;
}
i {
    position: absolute;
    top: 8%;
    right: 16%;
}
i:hover {
    cursor: pointer;

    color: #00fcb6;
}
.forgot {
    width: 413px;
    height: 372px;
    padding: 33px;

    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}



.infoText {
    display: flex;
    justify-content: flex-start;

    margin-top: 26px;
    margin-bottom: 45px;


    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-align: start;

    opacity: .7;
}

.rememberText {
    margin-top: 38px;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 600;

    opacity: .6;
}

.btn {
    font-family: 'Montserrat', serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    text-transform: none !important;

    background: #366EFF !important;
    border-radius: 35px !important;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35) !important;
}