.userNameContainer {
    display: flex;
    gap: 8px;
    align-items: center;

    margin-bottom: 14px;
}

.userName {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: inherit;
}

.iconPen {
    cursor: pointer;

    align-self: center;

    width: 16px;
    height: 16px;

    transition: all 0.2s ease-in-out;
}

.iconPen :hover {
    transform: translateY(-1px);
}

.iconPen :active {
    transform: translateY(1px);
}

.inputWrapper {
    /*@include input;*/

    position: relative;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    margin-bottom: 14px;
}
.errorName {
    color: #b31232;
}
.confirmName {
    /*@include flexCenter;*/

    cursor: pointer;

    position: absolute;
    top: 70%;
    right: 2%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;

    background-color: #fff;
    border: none;
    border-radius: 50%;

    transition: all 0.2s ease-in-out;
}
.confirmName :disabled {
    opacity: 0.5;
}
.updateIcon {
    width: 25px;
    height: 24px;
}