.spanBlock {
    display: flex;
    flex-direction: row;
    gap: 14px
}

.span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.pen {
}