.wrapper {
    height: calc(100vh - 60px);
    margin: 25px 40px 10px 40px;

    font-family: 'Montserrat', sans-serif;
}

.packButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
}

.tableHead {
    width: 100%;

    background-color: #efefef;
}

.inputBlock {
    display: flex;
    flex-direction: column;
}


.searchText {
    margin-bottom: 10px;

    text-align: center;
}

.inputSearch {
    height: 36px;
    margin-bottom: 10px;
}
