.wrapper {
    width: 1008px;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
}

.packButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin-top: 10px;
}

.tableHead {
    width: 100%;

    background-color: #efefef;
}

.search {
    margin-bottom: 10px;

    text-align: center;
}
