.packButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 184px;
  height: 36px;

  font-family: 'Montserrat', serif !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  text-transform: none !important;

  background: #366eff !important;
  border-radius: 35px !important;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35) !important;
}
