.radio {
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    width: 20px;
    height: 20px;

    background-color: white;
    border: 0.15em solid currentColor;
    border-radius: 50%;

    -webkit-appearance: none;
    appearance: none;
}

.radio::before {
    content: '';

    transform: scale(0);

    width: 10px;
    height: 10px;

    background-color: white;
    border-radius: 50%;
    box-shadow: inset 1em 1em black;

    transition: 120ms transform ease-in-out;
}

.radio:checked::before {
    transform: scale(1);

    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.label {
    display: flex;
    gap: 10px;
    align-items: center;

    margin: 5px;
}

.options {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}
