.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 16px 0 31px 0;
}

.passwordsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.link {
    cursor: pointer;

    margin-top: 11px;

    color: #366eff;
    text-decoration: underline;
}

.link:hover {
    font-weight: bold;
}
