.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90vh;

    font-family: 'Montserrat', serif !important;
}

.error {
    margin-left: 60px;
}

.ops {
    margin-bottom: 11px;

    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
}

.sorry {
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
}

.btn {;
    width: 218px;
    height: 36px;

    font-family: 'Montserrat', serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    text-transform: none !important;

    background: #366EFF;
    border-radius: 35px !important;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35) !important
}
