.label {
    cursor: pointer;

    display: flex;
    align-items: center;
}

/*input[type="checkbox"] - no*/

.checkbox {
    cursor: pointer;
    /*Свойство appearance изменяет внешний вид элемента интерфейса, при сохранении его функции.
         Если задать значение none, то чекбокс пропадет, но по нему, тем не менее,
         можно щелкать и состояние чекбокса будет меняться*/

    width: 18px;
    height: 18px;
    margin-right: 8px;

    /* background-size: 90% 90%; */
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #06c;
    border-radius: 3px;

    appearance: none;
}

.checkbox:checked {
    background-image: url('checked.svg');

    appearance: none;
    /*background: #99ff99;*/
}

.checkbox:focus {
    border-color: #0059b3;
}

.spanClassName {
    font-family: 'Montserrat', sans-serif;
    color: #06c;
}
