.input:focus {
}

.input {
  box-sizing: border-box;
  width: 300px;
  height: 36px;
  padding: 0 0 0 10px;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
  border: 1px solid #cc1439;
  border-radius: 5px;
}

.errorInput:focus {
}

.error {
  display: flex;
  flex-direction: row;

  margin-bottom: 3px;

  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  color: #cc1439;
}
