.pagination {
    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    color: #0d0b0c;
}

.container {
    opacity: 50%;
}

.text1 {
    display: flex;
    align-items: center;

    margin-right: 10px;
    margin-left: 24px;

    text-transform: capitalize;
}

.text2 {
    display: flex;
    align-items: center;

    margin-left: 6px;
}

.sel {
    width: 40px;
    height: 25px;
}
