.body {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.body hr {
    width: 100%;
}

.body span {
    margin-top: 15px;
    margin-bottom: 55px;

    text-align: center;
}

.btn {
    display: flex;
    justify-content: space-between;
}

.btnDelete {
    width: 127px;
    height: 36px;

    font-family: 'Montserrat', serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    text-transform: none !important;

    background-color: red !important;
    border-radius: 35px !important;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35) !important;
}

.btnDelete:hover {
    background-color: rgb(204, 0, 0) !important;
}

.btnCancel {
    width: 127px;
    height: 36px;

    font-family: 'Montserrat', serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    color: black !important;
    text-transform: none !important;

    border: 0;
    border-radius: 35px !important;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35) !important;
}

.btnCancel:hover {
    background-color: rgb(216, 216, 216) !important;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 5px;
    margin-bottom: 10px;
}

.closeIcon:hover {
    cursor: pointer;
}
